@charset "UTP-8";
@media screen and (min-width: 768px) and (max-width: 992px) { /* CONFIGURAÇÃO PARA TABLET */
    body {
        background-image: linear-gradient(to top, #0bb6f2, #4cb9df);
    }

    section#login {
        width: 80vw;
        height: 280px;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) { /* CONFIGURAÇÕES PARA DESKTOP */
    body {
        background-image: linear-gradient(to top, #722303, #b35600);
    }

    section#login {
        width: 950px;
        height: 350px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
    }

    div#formulario > h1 {
        font-size: 2em;
    }

    div#formulario > p {
        font-size: 1em;
        margin: 20px 0px;
    }
}
